<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | InsightText</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <p>
    hello!!!
  </p>
  <p>
    {% if method == 'GET' %}
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    {% elif method == 'POST' %}
    <a href="/">delete_file</a>
    {% endif %}
  </p>









  
  <section>
    <div>
      <h2>Logs</h2>
      <ul>
        {% for log in logs %}
        <li>{{log }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
</body>
</html>
